---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/HeroText.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Wayne Taylor',
};
---
<Layout metadata={metadata}>
  <Hero id="hero" title="Wayne Taylor" tagline="">
    <Fragment slot="subtitle">
      Known online as RamblingGeek, is a technology professional with a passion for software development, system design,
      and embedded computing. <br></br> With experience in C#, web technologies, and Raspberry Pi, Wayne is dedicated
      to building innovative solutions and sharing his expertise with the tech community. <br></br>He believes in the power of
      open-source collaboration, lifelong learning, and the importance of making technology accessible and fun for everyone.
    </Fragment>
  </Hero>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Vision Support Trading<br /><span class="font-normal"></span><span class="text-sm font-normal">01/2023 - Present</span>',
        description: `Supporting the five main applications, (Windows Forms/C#) and various of supporting 
                      applications.  Initially when I started, I was the second person to join the team and we worked 
                      together to deliver projects, in a system that was previously built by another team who had since 
                      left the business.
                      <br></br>
                      Built a new application for managing the printing process, I worked with the Operations Manager 
                      and there was a requirement of entering batch numbers to look up the work, I suggested that we 
                      could use barcoding to reduce input errors and performance, this was a great success and 
                      improved overall printing efficiency by 30%.
                      <br></br>
                      Git was in use with a basic server, I migrated from that basic server to an Open-Source solution 
                      called Gitea, which has a similar feature set as GitHub.  This was a great success and allowed 
                      better management of our codebase.`,
        icon: 'tabler:briefcase',
      },
      {
        title: 'CNS IT<br /> <span class="text-sm font-normal">05/2010 - 01/2023</span><br><span class="text-sm font-normal">Network Engineer</span></br>',
        description: `Maintaining small businesses networks and advising on the best IT solutions to meet business 
                      needs, working with Microsoft Server.<br></br>  
                      Project managing network installs, working with a wide array of technologies including but not 
                      limited to VMWare and Hyper-V virtualisation platforms, Microsoft 365, Microsoft Azure, Arcserve 
                      Backup.  `,
        icon: 'tabler:briefcase',
      },
      {
        title: 'BB IT<br /> <span class="text-sm font-normal">09/2010 - 04/2012</span><br><span class="text-sm font-normal">Network Engineer</span></br>',
        description: `After selling Total ICT Limited clients to them, it was part of the sale agreement that I remained 
                      with Bennett Brooks IT for 18 months. <br></br>I was tasked with managing existing support personnel and 
                      overseeing all aspects of IT support as well as procuring new clients.`,
        icon: 'tabler:briefcase',
      },
      {
        title: 'TOTAL ICT LTD<br /> <span class="text-sm font-normal">03/2005 - 09/2010</span><br><span class="text-sm font-normal">Director</span></Layout></br>',
        description: ``,
        icon: 'tabler:briefcase',
      },
      {
        title: 'PARITY COMPUTERS LTD<br /> <span class="text-sm font-normal">05/1995 - 12/2004</span><span class="text-sm font-normal"><br>Network Engineer/Project Manager</br></span> ',
        description: ``,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />
  <!-- BlogLatestPost Widget **************** -->
  <BlogLatestPosts
    id="blog"
    title="Ramblings"
    information={`Read the various Ramblings from my tinkering, with Raspberry Pi's, Microcontrollers.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
