---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/HeroText.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Wayne Taylor',
};
---
<Layout metadata={metadata}>
  <Hero id="hero" title="Wayne Taylor" tagline="">
    <Fragment slot="subtitle">
      Known online as RamblingGeek, is a technology professional with a passion for software development, system design,
      and embedded computing. <br></br> With experience in C#, web technologies, and Raspberry Pi, Wayne is dedicated
      to building innovative solutions and sharing his expertise with the tech community. <br></br>He believes in the power of
      open-source collaboration, lifelong learning, and the importance of making technology accessible and fun for everyone.
    </Fragment>
  </Hero>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Vision Support Trading<br /><span class="font-normal"></span><span class="text-sm font-normal">01/2023 - Present</span></span><br><span class="text-sm font-normal">Software Developer</span>',
        description: `Supported five core applications (Windows Forms/C#) along with various supporting systems.
                      <br></br>
                      Joined as the second member of the team, working collaboratively to deliver projects within a system originally 
                      developed by a previous team who had since left the business.
                      <br></br>
                      Designed and developed a new application to manage the printing process, partnering with the Operations Manager 
                      to gather requirements. Identified and implemented a barcoding system to replace manual batch number entry, 
                      resulting in a 30% improvement in overall printing efficiency.
                      <br></br>
                      Migrated the team’s source control from a basic Git server to Gitea, an open-source solution with functionality 
                      similar to GitHub, significantly enhancing codebase management and collaboration.
                      `,
                      
        icon: 'tabler:briefcase',
      },
      {
        title: 'CNS IT<br /> <span class="text-sm font-normal">05/2010 - 01/2023</span><br><span class="text-sm font-normal">Network Engineer</span></br>',
        description: `Maintaining small businesses networks and advising on the best IT solutions to meet business 
                      needs, working with Microsoft Server.<br></br>  
                      Project managing network installs, working with a wide array of technologies including but not 
                      limited to VMWare and Hyper-V virtualisation platforms, Microsoft 365, Microsoft Azure, Arcserve 
                      Backup.  `,
        icon: 'tabler:briefcase',
      },
      {
        title: 'BB IT<br /> <span class="text-sm font-normal">09/2010 - 04/2012</span><br><span class="text-sm font-normal">Network Engineer</span></br>',
        description: `After selling Total ICT Limited clients to them, it was part of the sale agreement that I remained 
                      with Bennett Brooks IT for 18 months. <br></br>I was tasked with managing existing support personnel and 
                      overseeing all aspects of IT support as well as procuring new clients.`,
        icon: 'tabler:briefcase',
      },
      {
        title: 'TOTAL ICT LTD<br /> <span class="text-sm font-normal">03/2005 - 09/2010</span><br><span class="text-sm font-normal">Director</span></Layout></br>',
        description: ``,
        icon: 'tabler:briefcase',
      },
      {
        title: 'PARITY COMPUTERS LTD<br /> <span class="text-sm font-normal">05/1995 - 12/2004</span><span class="text-sm font-normal"><br>Network Engineer/Project Manager</br></span> ',
        description: ``,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />
  <!-- BlogLatestPost Widget **************** -->
  <BlogLatestPosts
    id="blog"
    title="Ramblings"
    information={`Read the various Ramblings from my tinkering, with Raspberry Pi's, Microcontrollers.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
